<div class="col-xs-5">
    <div class="x_title"><h4>所有用户组</h4></div>
    <select id="search_group" class="form-control" size="8" multiple="multiple">
        {% for k,v in user_groups_dict.items %}
        <option name="user_group" value="{{ k }}">{{ v }}</option>
        {% endfor %}
    </select>
</div>

<div class="col-xs-2" style="padding-top:60px;">
    <button type="button" id="search_group_rightAll" class="btn btn-block"><i class="fa fa-forward"></i></button>
    <button type="button" id="search_group_rightSelected" class="btn btn-block"><i class="fa fa-chevron-right"></i></button>
    <button type="button" id="search_group_leftSelected" class="btn btn-block"><i class="fa fa-chevron-left"></i></button>
    <button type="button" id="search_group_leftAll" class="btn btn-block"><i class="fa fa-backward"></i></button>
</div>

<div class="col-xs-5">
    <div class="x_title"><h4>已选用户组</h4></div>
    <select id="search_group_to" class="form-control" size="8" multiple="multiple">
    {% if select_user_groups_dict %}
    {% for k,v in select_user_groups_dict.items %}
    <option name="user_group_select" value="{{ k }}">{{ v }}</option>
    {% endfor %}
    {% endif %}
    </select>
</div>