{% extends 'base/base.html' %}
{% load static %}
{% block css %}

    <link href="{% static 'css/orange-blue.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}


    <div class="row mbm">
        <div class="col-md-4">
            <select data-style="btn-info" class="selectpicker form-control" style="display: none;">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
            </select>
        </div>
    </div>

{% endblock %}


{% block js %}
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'js/ui-dropdown-select.js' %}"></script>
{% endblock %}